mixin c-card(className, name, price, sign)
  .c-card(class=className)
    .c-card__icons 
      block
    .c-card__title
      .c-card__title__name=name
      .c-card__title__price=price
        .c-card__title__price__sign=sign


mixin c-addButton(className)
  .c-addButton__additionalGroup(class=className)
    .c-addButton__addFood
      +b-iconLabel('b-iconLabel', 'Первое') 
        include ../../assets/icons/Decorations/Soup.svg
      +b-addButton('b-addButton firstСourse')
    .c-addButton__addFood.--brown
      +b-iconLabel('b-iconLabel ', 'Второе') 
        include ../../assets/icons/Decorations/Steak-1.svg
      +b-addButton('b-addButton secondСourse')
    .c-addButton__addFood.--green
      +b-iconLabel('b-iconLabel', 'Салат') 
        include ../../assets/icons/Decorations/Salad.svg
      +b-addButton('b-addButton saladCourse')
mixin c-check
  .c-check__check Добавьте блюда в заказ

mixin c-check-popup 
  .c-check-popup 
    .c-check-popup__freeCourier При заказе от 400 руб. доставка 
      span.freeCourier__primary бесплатно
    button.needMore Добавьте еще одно блюдо
    .c-check__check-popup Добавьте блюда в заказ

mixin c-foodCard
  template.cardTemplate
    .c-foodCard
      .c-foodCard__wrap
        img.img(src='' alt='')
        .c-foodCard__container
          .c-foodCard__name.name
          .c-foodCard__weight.weight
      .c-foodCard__btnAdd Добавить

mixin c-accordeonSection(question, answer, className)
  .c-accordeonSection
    .c-accordeonSection__question=question
      +b-morph
    .c-accordeonSection__answer=answer

mixin c-sending(className, title, text)
  .c-sending(class=className)
    block 
    .c-sending__title=title
    .c-sending__text=text



